.dropdown {
  &-menu {
    min-width: 300px;
    max-width: 300px;
    overflow: hidden;
    padding: 0px;
    border-radius: 0.625rem;
  }
  &-item,
  &-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: $spacer * 0.375 map-get($spacers, 5);
  }
  &-item {
    &:hover {
      img {
        filter: $svgPrimary;
      }
    }
  }
}

.datepicker {
  .dropdown {
    &-menu {
      max-width: 450px;
    }
  }
  .rsd__react-select-datepicker {
    .rsd__select-container-day,
    .rsd__select-container-month,
    .rsd__select-container-year {
      width: 30%;
    }
    .rsd__select-day,
    .rsd__select-month,
    .rsd__select-year {
      padding: 6px 10px;
      height: 40px;
      border-color: $smoke;
      border-radius: 0.3rem;
    }
  }
}

.profile {
  .dropdown {
    &-item {
      border-bottom: 1px solid $smoke;
      &:first-child {
        border-top: 1px solid $smoke;
      }
    }
  }
}

.create-content {
  .dropdown {
    &-toggle {
      &:after {
        display: none;
      }
    }
    &-menu {
      min-width: fit-content;
      overflow: hidden;
      padding: 0px;
      border-radius: 0.625rem;
    }
    &-item {
      padding: 6px 20px;
      &:hover {
        color: $primary;
      }
    }
  }
}

.search-filter {
  .dropdown {
    &-toggle {
      &:hover,
      &:active,
      &:focus {
        color: $grey !important;
      }
      img {
        filter: $svgGrey !important;
      }
      &:after {
        display: none;
      }
    }
    &-menu {
      max-height: 40vh;
      overflow-y: scroll;
    }
  }
}
.quality {
  .dropdown {
    &-toggle {
      height: 40px;
      width: 100%;
      &:after {
        display: none;
      }
    }
    &-menu {
      width: 100%;
      min-width: fit-content;
      overflow: hidden;
      padding: 0px;
      border-radius: 0.625rem;
    }
    &-item {
      padding: 6px 20px;
      &:hover {
        color: $primary;
      }
    }
  }
}
.right {
  .dropdown {
    &-toggle {
      height: 40px;
      width: 100%;
      background: white;
      border-color: $smoke;
      &:after {
        display: none;
      }
      &:active {
        background: white;
        border-color: $smoke;
      }
    }
    &-menu {
      min-width: 100px;
      width: 100%;
      overflow: hidden;
      padding: 0px;
      border-radius: 0.625rem;
    }
    &-item {
      padding: 6px 20px;
      width: 100%;
      &:hover {
        color: $primary;
      }
      &:active {
        background: white;
        border-color: $smoke;
      }
    }
  }
}
