@mixin container($max: 1200px, $pad: 16px) {
  max-width: $max;
  margin-inline: auto;
  padding-inline: $pad;
}

@mixin line-clamp($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin sidebar-green-gradient {
  background: linear-gradient(
    180deg,
    rgba(78, 211, 122, 1) 0%,
    rgba(0, 194, 86, 1) 50%,
    rgba(28, 196, 172, 1) 100%
  );
  color: #fff;
}
